// variables
$primaryColor: #1e6ff1;
$backgroundColorPrice: #fafafa;
$offerBorder: #999999;
$offerTime: #f2f2f2;
$offerFontColor: #666666;
$offerTvaColor: #676767;
$footerColor: #0a0c3e;
$hoverColor: #2e8dfa;
$colorFontPopUp: #ec1c24;

body {
  font-family: "Roboto", sans-serif !important;
}
.container {
  max-width: 1440px;
  padding: 0;
}
.row {
  margin: 0;
}
#languages {
  a {
    margin: 5px;
    text-align: center;
    span {
      display: block;
      font-size: 15px;
      color: #000;
      font-weight: bold;
    }
    #engFlag {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
#logo {
  text-align: center;
  img {
    width: 200px;
  }
}

.button,
button {
  color: #fff;
  background-color: $primaryColor;
  border: none;
  width: 100%;
  padding: 2rem;
  margin-top: 16px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: $hoverColor;
  }
}
.headings,
.thin,
.bold {
  font-size: 5em;
  color: #fff;
}
.bold {
  font-weight: 700;
}
.headings,
.thin {
  font-weight: 100;
}
.headings {
  text-align: center;
  color: #000;
  margin: 50px 0;
}
#containerTown {
  .img {
    position: absolute;
    top: -10%;
    left: 30%;
  }
  .text {
    margin: 16px 0px;
    h2,
    p {
      margin-bottom: 0;
    }
  }
  img {
    margin: 16px 0;
  }
}
#containerRocket {
  background-color: $primaryColor;
  padding: 0;
  p {
    text-align: center;
  }
  img {
    margin-left: -1px;
    margin-bottom: -1px;
  }
}

//CLIENTS
#clients {
  div {
    margin: auto;
  }
}

//OFFERS
.offer {
  border: 2px dashed $offerBorder;
  border-radius: 10px;
  margin: auto;
  .info {
    background-color: $backgroundColorPrice;
    padding: 10px;
    p {
      padding: 0 10px;
    }
    .time {
      text-align: center;
      background-color: $offerTime;
      padding: 10px;
      border-radius: 10px;
      margin-top: 3rem;
      margin-bottom: 0;
    }
    h1 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0;
      padding: 0 10px;
    }
    .mainInfo {
      color: $offerFontColor;
      font-weight: bold;
      font-size: 24px;
    }
    span {
      font-size: 13px;
      font-weight: 400;
      color: $offerTvaColor;
      display: inline-block;
    }
    .euro {
      color: $offerFontColor;
      opacity: 0.5;
      font-weight: 400;
      font-size: 24px;
    }
  }
  ul {
    padding-left: 20px;
    li {
      color: $primaryColor;
      span {
        color: $offerBorder;
      }
    }
  }
}
#offerBlock {
  position: relative;
  #notice {
    position: absolute;
    bottom: 0;
    left: 15%;
    div {
      margin: auto;
      padding: 0 5px;
      p {
        margin-bottom: 0;
      }
    }
  }
}

.embed-responsive-item {
  position: relative !important;
}
.embed-responsive-16by9::before {
  padding-top: 5px;
}
.embed-responsive {
  overflow: visible !important;
}

//FORMS
.modal-content {
  border-radius: 70px;
  padding: 1rem;
}
.form-control {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin: 0;
}
label {
  color: #000;
  opacity: 0.3;
  font-style: italic;
  font-size: 18px;
  transform: translateY(20px);
  transition: all 0.3s;
  margin: 10px;
}
.label-focus {
  color: $primaryColor;
  opacity: 1;
  transform: translateY(0);
}
.close {
  span {
    font-size: 35px;
    font-weight: 400;
  }
}
.modal-header {
  border: none;
  padding: 0;
  .modal-title {
    font-size: 45px;
    font-weight: bold;
    color: $primaryColor;
    padding: 0 16px;
  }
}
.buttonContact {
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}
.popUP {
  color: $colorFontPopUp;
  font-size: 20px;
  border-bottom: 4px solid $colorFontPopUp;
  margin: 10px;
}
.buttonPopUp {
  width: 184px;
}
.prototypeText {
  font-size: 18;
  font-style: italic;
  opacity: 0.6;
  margin: 0;
}
.video {
  height: 230px;
  overflow: hidden;
  position: relative;
  border: none;
}
.video-popUp {
  position: absolute;
  top: -50%;
  left: 0%;
  border: none;
}
//CONTACT
#contact {
  p {
    font-weight: 100;
    font-size: 25px;
  }
  h1 {
    margin-bottom: 0;
  }
}

//FOOTER
footer {
  margin-top: 100px;
  background-color: $footerColor;
  color: #fff;
  .container {
    margin-bottom: 0;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
      color: $hoverColor;
    }
  }
  hr {
    border: 0.1rem solid #fff;
    margin: 0;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}

//MEDIA
@media screen and (max-width: 576px) {
  .headings,
  .thin,
  .bold {
    font-size: 2em;
  }
  .video {
    height: 160px;
  }
  .modal-header {
    .modal-title {
      font-size: 35px;
    }
  }
  .popUP {
    font-size: 15px;
    border-bottom: 2px solid $colorFontPopUp;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .headings,
  .thin,
  .bold {
    font-size: 3em;
  }
  #offerBlock {
    #notice {
      left: 0%;
      font-weight: 100;
      font-size: 20px;
    }
  }
  #containerTown {
    .img {
      top: -40%;
    }
  }
}
