body {
  font-family: 'Roboto', sans-serif !important;
}

.container {
  max-width: 1440px;
  padding: 0;
}

.row {
  margin: 0;
}

#languages a {
  margin: 5px;
  text-align: center;
}

#languages a span {
  display: block;
  font-size: 15px;
  color: #000;
  font-weight: bold;
}

#logo {
  text-align: center;
}

#logo img {
  width: 200px;
}

button {
  color: #FFF;
  background-color: #1E6FF1;
  border: none;
  width: 100%;
  height: 4rem;
  margin-top: 16px;
}

.headings,
.thin,
.bold {
  font-size: 5em;
  color: #FFF;
}

.bold {
  font-weight: 700;
}

.headings,
.thin {
  font-weight: 100;
}

.headings {
  text-align: center;
  color: #000;
  margin: 50px 0;
}

#containerTown .img {
  position: absolute;
  top: -10%;
  left: 30%;
}

#containerTown .text {
  margin: 16px 0px;
}

#containerTown .text h2,
#containerTown .text p {
  margin-bottom: 0;
}

#containerTown img {
  margin: 16px 0;
}

#containerRocket {
  background-color: #1E6FF1;
  padding: 0;
}

#containerRocket p {
  text-align: center;
}

#containerRocket img {
  margin-left: -1px;
  margin-bottom: -1px;
}

#clients div {
  margin: auto;
}

.offer {
  border: 2px dashed #999999;
  border-radius: 10px;
  margin: auto;
}

.offer .info {
  background-color: #FAFAFA;
  padding: 10px;
}

.offer .info p {
  padding: 0 10px;
}

.offer .info button {
  border-radius: 10px;
  font-weight: bold;
}

.offer .info .time {
  text-align: center;
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 0;
}

.offer .info h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0 10px;
}

.offer .info .mainInfo {
  color: #666666;
  font-weight: bold;
  font-size: 24px;
}

.offer .info span {
  font-size: 13px;
  color: #676767;
  padding: 0 10px;
  display: inline-block;
}

.offer ul {
  padding-left: 20px;
}

.offer ul li {
  color: #1E6FF1;
}

.offer ul li span {
  color: #999999;
}

#offerBlock {
  position: relative;
}

#offerBlock #notice {
  position: absolute;
  bottom: 0;
  left: 15%;
}

#offerBlock #notice div {
  margin: auto;
  padding: 0 5px;
}

#offerBlock #notice div p {
  margin-bottom: 0;
}

.embed-responsive-item {
  position: relative !important;
}

.embed-responsive-16by9::before {
  padding-top: 5px;
}

.embed-responsive {
  overflow: visible !important;
}

#contact p {
  font-weight: 100;
  font-size: 25px;
}

#contact h1 {
  margin-bottom: 0;
}

footer {
  margin-top: 100px;
  background-color: #0A0C3E;
  color: #FFF;
}

footer .container {
  margin-bottom: 0;
}

footer a {
  color: #FFF;
}

footer a:hover {
  text-decoration: none;
}

footer hr {
  border: .1rem solid #FFF;
  margin: 0;
}

footer h3 {
  font-size: 14px;
}

footer p {
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .headings,
  .thin,
  .bold {
    font-size: 2em;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .headings,
  .thin,
  .bold {
    font-size: 3em;
  }
  #offerBlock #notice {
    left: 0%;
    font-weight: 100;
    font-size: 20px;
  }
  #containerTown .img {
    top: -40%;
  }
}
/*# sourceMappingURL=style.css.map */